<!DOCTYPE html>
<html lang = "ja-jp">
    <head>
        <title>アポログラフィティ</title>
    </head>
    <body>
        <h1>アポログラフィティ</h1>
        <p>
            <button type="button" onclick=location.href="{% url 'pgfansite:thread' %}">スレッド作成</button>
        </p>

        <h2>スレッド一覧</h2>
        <ul class="thread_list">
        {% for thread in threads.all %}
            <li class="main_list">
                <a href="{% url 'pgfansite:detail' thread.id %}">
                    <p>{{ thread.title }}({{ thread.response_count }})</p>
                </a>
                <p>
                    {% if thread.image.url != None %}
                        <img src="{{ thread.image.url }}" class = "img-fluid rounded" style="max-height: 50px;" align="left"/>
                    {% endif %}
                    {{ thread.summary }}
                    {% if thread.body_count > 50 %}...{% endif %}<br>
                    {{ thread.username }}:{{ thread.updatedttm }}
                </p>
            </li>
        {% endfor %}
        </ul>
    </body>
</html>