<!DOCTYPE html>
<html lang = "ja-jp">
    <head>
        <title>アポログラフィティ</title>
    </head>
    <body>
        <h1>アポログラフィティ</h1>
        <p>
            <button type="button" onclick=location.href="{% url 'pgfansite:thread' %}">スレッド作成</button>
        </p>

        <h2>スレッド一覧</h2>

        {% for thread in threads.all %}

            <h3><a href="{% url 'pgfansite:detail' thread.id %}">{{ thread.title }}</a>({{ thread.response_count }})</h3>
            {% if thread.image.url != None %}
                <img src="{{ thread.image.url }}" class = "img-fluid rounded" style="max-height: 200px;"/>
            {% endif %}
            <p>
                {{ thread.summary }}
                {% if thread.body_count > 50 %}...{% endif %}
            </p>
            {{ thread.username }}:{{ thread.updatedttm }}
        {% endfor %}
    </body>
</html>